{% extends "assets/base.html" %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><a href="{% url 'projects_list' %}">项目信息</a></h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>项目名:</td>
                  <td>{{project_one.project}}</td>
                </tr>
                <tr>
                  <td>描述:</td>
                  <td>{{project_one.chinese_detail}}</td>
                </tr>
                <tr>
                  <td>环境:</td>
                  <td>{{project_one.env}}</td>
                </tr>
                <tr>
                  <td>项目负责人:</td>
                  <td>{{project_one.master}}</td>
                </tr>
                <tr>
                  <td>部门:</td>
                  <td>{{project_one.department}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}